[*.cs]

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = suggestion

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = when_on_single_line
